{{ partial "head.html" . }}
{{ partial "header.html" . }}
<div class="container">
    <div id="wrapper" class="row">
        <div id="left-content" class="col-md-9">
            <div class="post-header">
                <h1>{{ .Title }}</h1>
                <div class="post-meta">
                    <span class="publish-date"> {{ .PublishDate.Format "January 2, 2006" }} </span>
                    <div class="post-categories">
                        {{ range $value := .Params.categories }}
                        <a href="/categories/{{ $value }}"> {{ $value }} </a>
                        {{ end }}
                    </div>
                    <span class="word-count">
                        {{ .WordCount }} words
                    </span>
                    <span class="reading-time">
                        {{ .ReadingTime }} min read
                    </span>
                </div>
            </div>
            <article class="post-content">
                {{ .Content }}
            </article>
        </div>
        <div id="right-content" class="col-md-3">
            <div id="about">
                <h4>About</h4>
                <img src="/images/balaji.jpg" alt="Avatar" class="avatar" />
                Hi, I'm Balaji Sivaraman, a programmer at
                ThoughtWorks. On these pages, you can find my
                thoughts mostly on statically typed languages
                such as Scala and Rust.
            </div>
            <div id="categories">
                <h4>Categories</h4>
                <ul>
                    {{ range $.Site.Taxonomies.categories.ByCount }}
                    <li><a href="/categories/{{ .Term | urlize  }}">{{ .Term | humanize }}</a> ({{ .Count }})</li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</div>
{{ partial "footer.html" . }}
