<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Balaji Sivaraman</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width; initial-scale=1.0">
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!-- External Fonts from CDN -->
        <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Bitter:400,400i,700" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" rel="stylesheet" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <!-- Site CSS -->
        <link rel="stylesheet" href="{{ .Site.BaseURL }}css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css" />
        <!-- Site JS -->
        <script src="/scripts/script.js"></script>
    </head>
    <body>
        <header id="header">
            <!-- <div class="site-title">
                 <h1>Balaji Sivaraman</h1>
                 </div> -->
            <nav id="nav-bar" class="navigation">
                <div id="hamburger">
                    <a href="javascript:void(0);" class="icon" onclick="topNavControl()">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/talks">Talks</a></li>
                    <li><a href="/archives">Archives</a></li>
                    <li><a href="/tags">Tags</a></li>
                    <li><a href="/categories">Categories</a></li>
                </ul>
            </nav>
            <div class="clearfix"></div>
        </header>
        <div class="container">
            <div id="wrapper" class="row">
                <div id="left-content" class="col-md-9">
                    <div class="post-header">
                        <h1>{{ .Title }}</h1>
                        <div class="post-meta">
                            <span class="publish-date"> {{ .PublishDate.Format "January 2, 2006" }} </span>
                            <div class="post-categories">
                                {{ range $value := .Params.categories }}
                                <a href="/categories/{{ $value }}"> {{ $value }} </a>
                                {{ end }}
                            </div>
                            <span class="word-count">
                                {{ .WordCount }} words
                            </span>
                            <span class="reading-time">
                                {{ .ReadingTime }} min read
                            </span>
                        </div>
                    </div>
                    <article class="post-content">
                        {{ .Content }}
                    </article>
                </div>
                <div id="right-content" class="col-md-3">
                    <div id="about">
                        <h4>About</h4>
                        <img src="/images/balaji.jpg" alt="Avatar" class="avatar" />
                        Hi, I'm Balaji Sivaraman, a programmer at
                        ThoughtWorks. On these pages, you can find my
                        thoughts mostly on statically typed languages
                        such as Scala and Rust.
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="social-icons">
                <a class="fa fa-envelope" href="mailto:balaji@balajisivaraman.com"></a>
                <a class="fab fa-twitter" href="https://twitter.com/balajisivaraman"></a>
                <a class="fab fa-github" href="https://github.com/balajisivaraman"></a>
                <a class="fab fa-linkedin" href="https://www.linkedin.com/in/balajisivaraman/"></a>
                <a class="fab fa-goodreads-g" href="https://www.goodreads.com/user/show/36477665-balaji-sivaraman/"></a>
                <a class="fa fa-rss" href="/index.xml"></a>
            </div>
            <small>
                Powered by <a href="http://gohugo.io/" target="_blank">Hugo</a> | <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode" target="_blank">CC-BY-NC-ND</a> <br>
                © 2018 Balaji Sivaraman
            </small>
        </footer>
    </body>
</html>
