/* Basic Setup and Font Configuration */
html {
  font-size: 1em;
}

body {
  background-color: white;
  font-size: 1.125em;
  font-family: Lato, helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-family: Bitter, Georgia, serif;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 {font-size: 2.369em;}

h3 {font-size: 1.777em;}

h4 {font-size: 1.333em;}

small, .font_small {font-size: 0.75em;}

/* Wrapper For the Overall Page */
#wrapper {
 max-width: 850px;
 margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Links */
a, a:visited {
  color: #42A5F5;
  text-decoration: inherit;
}

a:hover {
  color: #1565C0;
}

/* Page Header */
header {
  margin-top: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #BDBDBD;
}

#header h1 {
  font-family: Bitter, arial, helvetica, sans-serif;
  font-size: 2.2em;
}

#header .site-title {
  width: 50%;
  float: left;
}

nav.navigation {
  width: 50%;
  display: block;
  font-size: 0.8em;
  float: right;
}

nav.navigation ul {
  list-style: none;
  text-align: center;
}

nav.navigation  ul li {
  display: inline-block;
}

nav.navigation  ul li a {
  display: block;
  float: left;
  padding: 3px 6px;
  color: #757575;
  text-decoration: none;
}

nav.navigation  ul li a:hover {
  text-decoration: underline;
}

/* Responsive Menu */
@media only screen and (max-width: 767px) {
  nav.navigation {
    float: left;
    clear: both;
    margin: 0;
    padding: 0;
    width: 25%;
  }

  nav.navigation > ul {
    margin: 0;
    padding: 0;
    text-align: left;
  }
}

/* Content Header */
.post-header {
  text-align: center;
}

.post-header h1 {
  margin-bottom: 10px;
}

.post-header > .post-meta {
  font-size: 0.8em;
  color: #757575;
}

.post-meta > .post-categories {
  display: inline;
}

.post-categories > a::before,
.post-meta > .word-count::before,
.post-meta > .reading-time::before {
  content: "\B7";
}

.post-categories > a {
  color: inherit;
}

.post-categories > a:hover {
  color: #42A5F5;
}

/* Footer */
footer {
  margin-top: 50px;
  height: 120px;
  text-align: center;
  background-color: #fafafa;
  color: #7a7a7a;
  font-weight: 300;;
  width: 100%;
  border-top: thin solid #f3f3f3;
}

.social-icons {
  font-size: 1.8em;
}

.social-icons a {
  color: inherit;
  text-decoration: inherit;
}
