{{ partial "head.html" . }}
{{ partial "header.html" . }}
<div class="container">
    <div id="wrapper" class="row">
        <div id="left-content" class="col-md-9">
            <div class="post-header">
                <h2>{{ .Title }} </h2>
            </div>
            <article class="post-content">
                <br />
                <div class="archives">
                    {{ range .Pages }}
                    {{ if and (eq .Type "post") (ne .Title "Posts") }} <!-- Hack to filter Posts page -->
                    <div class="publish-date"> {{ .PublishDate.Format "January 2, 2006" }} </div>
                    <div class="post-title"> <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a> </div>
                    <br />
                    {{ end }}
                    {{ end }}
                </div>
            </article>
        </div>
        {{ partial "right-sidebar.html" . }}
    </div>
</div>
{{ partial "footer.html" . }}
