<header id="header">
    <nav id="nav-bar" class="navigation">
        <div id="hamburger">
            <a href="javascript:void(0);" class="icon" onclick="topNavControl()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/talks">Talks</a></li>
            <li><a href="/archives">Archives</a></li>
            <li><a href="/categories">Categories</a></li>
        </ul>
    </nav>
    <div class="clearfix"></div>
</header>
