<div id="right-content" class="col-md-3">
    <div id="about">
        <h4>About</h4>
        <img src="/images/balaji.jpg" alt="Avatar" class="avatar" />
        {{ $.Site.Params.bio }}
    </div>
    <div id="social-icons">
        <h4>Follow Me</h4>
        {{ partial "social-icons.html" . }}
    </div>
    <div id="categories">
        <h4>Categories</h4>
        <ul>
            {{ range $.Site.Taxonomies.categories.ByCount }}
            <li><a href="/categories/{{ .Term | urlize  }}">{{ .Term }}</a> ({{ .Count }})</li>
            {{ end }}
        </ul>
    </div>
</div>
