<div class="social-icons">
    <a class="fa fa-envelope" href="mailto:balaji@balajisivaraman.com"></a>
    <a class="fab fa-twitter" href="https://twitter.com/balajisivaraman"></a>
    <a class="fab fa-github" href="https://github.com/balajisivaraman"></a>
    <a class="fab fa-linkedin" href="https://www.linkedin.com/in/balajisivaraman/"></a>
    <a class="fab fa-goodreads-g" href="https://www.goodreads.com/user/show/36477665-balaji-sivaraman/"></a>
    <a class="fa fa-rss" href="/index.xml"></a>
</div>
